.current_weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current_weather h2 {
  color: white;
  font-size: 120%;
}

.current_weather h1 span {
  font-weight: lighter;
}

.current_weather p span {
  margin: 20px;
}
 .current_weather p{
    font-size:90%;
    align-self: center;
  }
  .current_weather h1{
    font-size:150%;
  }
