.app{
  height: 100vh;
  width: 100vw;
  background:#A5CDF0;
  overflow: hidden;
  margin:0 0;
  font-family: 'Raleway', sans-serif;
}

nav{
  display: flex;
  flex-direction:left;
  background: #7c9ed5;
}

nav input{
  margin:20px;
  font-family: 'Raleway', sans-serif;
}

nav .location{
  padding:20px;
  background: transparent;
  border: none;
  outline:none;
  font-size:25px;
  color:white;
}
.location::placeholder{
  color:white;
}
nav .search{
  padding:20px;
  background:#5d7ac1;
  border:none;
  font-size:25px;
}
 /* 7c9ed5 */
 /* 010745 */

.current_weather{
  display:flex;
  flex-direction: column;
  align-items: center;
 }

.current_weather h2{
  color:white;
 }

.current_weather h1 span{ 
  font-weight: lighter;
 }

.current_weather p span{
  margin:20px;
}

.hourly_weathers{
  display:flex;
  justify-content:center;
}
.hourly_weather{
  display:flex;
  align-items:center;
  flex-direction:column;
  margin:40px
}
